export(ahrq)
export(codefinder.numeric.ahrq_2010v3.5)
export(codefinder.numeric.charlson_Deyo1992)
export(codefinder.numeric.elixhauser_Elixhauser1998)
export(codefinder.regex.charlson_Armitage2010)
export(codefinder.regex.charlson_Quan2005)
export(codefinder.regex.charlson_Sundarajan2004)
export(codefinder.regex.elixhauser_Quan2005)
export(deyo)
export(elixhauser)
export(translate.ICD9.from.Swedish)
